<nav class="pagination-ghost" role="pagination">
	<ul class="pager">
	    {{#if next}}
	        <li class="previous"><a class="older-posts" href="{{page_url next}}">Older</a></li>
	    {{/if}}
	    {{#if prev}}
	        <li class="next"><a class="newer-posts" href="{{page_url prev}}">Newer</a></li>
	    {{/if}}
    </ul>
</nav>