{{!< default}}
{{> post_header}}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<<<<<<< HEAD
            <main class="main-ghost" role="main">
                {{#post}}
                    <article class="article-ghost" role="article" itemscope itemtype="http://schema.org/Article">
                    <div class="postcontent-ghost" itemprop="articleBody">
=======
            <main class="main_ghost" role="main">
                {{#post}}
                    <article class="article_ghost" role="article" itemscope itemtype="http://schema.org/Article">
                    <div class="postcontent_ghost" itemprop="articleBody">
>>>>>>> origin/master
                        {{content}}
                    </div>
                    </article>
                {{/post}}
                {{#if pagination}}
<<<<<<< HEAD
                    <div class="pagination-ghost">
=======
                    <div class="pagination_ghost">
>>>>>>> origin/master
                        {{{pagination}}}
                    </div>
                {{/if}}
            </main>
        </div>
    </div>
</div>
<<<<<<< HEAD
<hr class="endpost-ghost">
=======
<hr class="endpost_ghost">
>>>>>>> origin/master
{{> footer}}