{{!< default}}
{{> post_header}}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <main class="main-ghost" role="main">
                {{#post}}
                    <article class="article-ghost" role="article" itemscope itemtype="http://schema.org/Article">
                    <div class="postcontent-ghost" itemprop="articleBody">
                        {{content}}
                    </div>
                    </article>
                {{/post}}
                {{#if pagination}}
                    <div class="pagination-ghost">
                        {{{pagination}}}
                    </div>
                {{/if}}
            </main>
        </div>
    </div>
</div>
<hr class="endpost-ghost">
{{> footer}}